.user-profile{
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user-profile .img-container{
    display: flex;
    padding-bottom: 10px;
}

.user-profile img{
    border-radius: 50%;
    display: flex;
    margin: auto;
    border: 10px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 50%;
}

.user-profile .h-container{
    padding-bottom: 20px;
}

.user-profile .h-container *{
    margin: 0;
    padding: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.user-profile b{
    display: block;
}

.user-profile .personal-information{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.information{
    display: none;
}

/*Medium Screen*/
@media screen and (min-width: 601px){
    .information{
        display: flex;
    }
}

/*Large Screen*/
@media screen and (min-width: 993px){

}