*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul.row .col{
    padding: 0;
}

form{
    padding: 0 10px;
}

footer{
    padding: 10px 0;
    box-shadow: 0px -0.5px 10px 0px rgba(0,0,0,0.75);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer.homepage{
    box-shadow: none
}

nav {
    all: initial;
    margin: 0;
    display: flex;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.btn:hover{
    cursor: pointer;
}

.nav-wrapper{
    width: 100%;
}

header{
    background-image: url("../img/wallpaper/wow-wallpaper.jpg");
    background-size: cover;
    background-position: center;
}

header figcaption{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-wrapper ul {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav-wrapper li {
    flex: 4;
}

.nav-wrapper li a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.nav-wrapper li img{
    width: 25%;
}

.nav-wrapper #logout{
    flex: 1;
}

.nav-wrapper #logout img{
    display: flex;
    margin: auto;
    width: 30px;
}

.nav-wrapper #logout a{
    padding: 0;
}

.nav-wrapper a.visiting{
    background-color: white;
    color: #ffd600; /*yellow acent 4*/
}

.nav-wrapper a.visiting b{
    text-shadow: none;
}

.nav-wrapper a.visiting:hover{
    cursor: default;
}

.nav-wrapper li a b {
    display: flex;
    margin: auto;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
}

.nav-wrapper .search-container{
    flex: 3;
    padding: 5px;
}

#join > div{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}

.platform-logo-container{
    display: flex;
    flex: 1;
    padding: 5px;
}

.platform-logo-container a{
    display: flex;
    width: 100%;
}

.platform-logo {
    display: flex;
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

.platform-logo:hover{
    cursor: pointer;
}

.guild-content{
    border-radius: 5px;
    margin: 20px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.guild-content nav {
    box-shadow: none;
    border-radius: 5px 5px 0px 0px;
}

.guild-content .nav-wrapper{
    padding: 0 10px;
}

.guild-content .nav-wrapper ul{
    flex-direction: row;
}

.guild-content .nav-wrapper b {
    text-shadow: none;
    font-size: 16px;
}

.guild-content .page-content{
    margin: 0px 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.guild-content .btn{
    margin: 5px auto;
    display: flex;
    width: 50%;
}

.guild-content .btn p{
    display: flex;
    margin: auto;
}

.guild-content .page-content .row, .guild-content .page-content .col{
    padding: 0;
    margin: 0;
}

header figure{
    margin: 0px;
}

header figcaption{
    font-size: 20px;
    font-weight: bold;
}

.job-card{
    display: flex;
    border-radius: 5px;
    padding: 10px;
    padding-left: 5%;
    margin: 10px 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: row;
}

.job-card:hover{
    box-shadow: none;
}

.job-card h1{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.job-card .job-info{
    flex: 6;
    padding: 10px;
}

.job-card .job-img{
    flex: 4;
}

.job-card img{
    width: 100%;
    height: 100%;
}

.job-card .job-btn{
    margin-top : 20px;
    display: flex;
}

.job-card .job-btn > .btn{
    display: flex;
    margin: auto;
}

.job-card .job-btn > .btn > b{
    display: flex;
    margin: auto;
}

.search {
    width: 100%;
}

.toggle-menu:hover{
    opacity: 0.8;
    cursor: pointer;
}

.information .col, .information .row{
    margin:0;
    padding: 0;
}

.information p{
    display: flex;
}

.information i{
    padding: 10px;
}

.information span{
    display: flex;
    margin: auto 0;
}

.information, .guild-profile{
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.information h1, .guild-profile h1{
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.information figure, .guild-profile figure{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 0;
}

.information figcaption, .guild-profile figcaption{
    text-align: center;
    margin: 20px 0;
    font-weight: bolder;
}

.information figcaption{
    font-size: 40px;
}

.information img, .guild-profile img{
    border-radius: 50%;
    width: 50%;
    margin: auto;
    display: flex;
}

.information > div > div, .guild-profile > div > div {
    display: flex;
    flex-direction: column;
}

.information > div > div > div, .guild-profile > div > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto 0;
}

.information > div > div .row{
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky.information{
    right: 76%;
    width: 23%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black; 
}

.white-text.separator::before, .white-text.separator::after{
    border-bottom: 1px solid white;
}

.separator::before{
    margin-right: 5px;
}
.separator::after{
    margin-left: 5px;
}

main article img{
    width: 50%;
    display: flex;
    margin: auto;
}

main article{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main article > div{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

main article.quiz2{
    flex-direction: column;
}

main article.quiz2 .col{
    margin-bottom: 20px;
    flex-direction: column;
}

main article > div div{
    display: flex;
}

main article.quiz2 > div > div p {
    width: 100%;
}

main article h1{
    margin: 0
}

main article p {
    display: flex;
    text-align: justify;
}

.brief-guildhub-information{
    display: flex;
    padding: 40px;
}

.brief-guildhub-information * {
    margin: 0;
    padding: 0;
}

.brief-guildhub-information .brief-explanation{
    color: white;
    text-align: center;
    flex: 1;
}

.brief-guildhub-information .brief-explanation div{
    margin: 40px 0;
}

.brief-guildhub-information .brief-explanation .container{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.brief-guildhub-information .brief-explanation p{
    margin: 10px 0;
    font-size: 20px;
}

.brief-guildhub-information .brief-features{
    display: none;
    flex: 1;
    flex-direction: column;
}

.brief-guildhub-information .btn{
    display: flex;
}

.brief-guildhub-information .btn p{
    margin: 0;
    display: flex;
    margin: auto;
}

.brief-guildhub-information .btn:hover{
    opacity: 0.8;
}

.feature-card{
    display: flex;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
}

.feature-card img{
    display: flex;
    height: 50px;
}

.feature-card > div{
    display: flex;
    padding-left: 10px;
}

.feature-card > div b {
    display: flex;
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.guild-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.guild-card:hover{
    box-shadow: none;
}

.guild-card img{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.guild-card h1{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.guild-card b{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.modal-container{
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(175, 175, 175, 0.4);
    top: 0;
}

.modal-container *{
    margin: 0;
    padding: 0;
}

.modal-content h1{
    text-align: center;
    color: white;
    margin: 0 10px;
    padding: 20px;
}

.modal-content form{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px;
    margin: 0px 10px 10px 10px;
    color: white;
    overflow-y: auto;
}

.modal-content .container{
    display: flex;
    margin: 10px auto;
    flex-direction: column;
}

.modal-content input[type="text"], .modal-content input[type="password"]{
    color: white
}

.modal-content input[type="button"]{
    margin-bottom: 20px;
}

.modal-content{
    display: flex;
    margin: 100px auto;
    width: 90%;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.close-modal-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: right;
    justify-content: right;
}

.close-modal{
    margin-top: -20px;
    font-size: 40px;
    font-weight: bolder;
}

.close-modal:hover{
    cursor: pointer;
    font-weight: lighter;
}

a.close-modal, .btn.close-modal{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

a.close-modal:hover{
    font-weight:inherit;
}

#about p{
    font-size: 20px;
}

#about i{
    padding: 5px;
}

#join > div{
    flex-direction: row;
}

#guild-members-window, #guild-forum-window, #guilds-window{
    display: none;
}

#guildless{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 20px 5px;
}

#guild-members, #users, #guilds{
    display: flex;
    flex-wrap: wrap;
}

.user-card{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
}

.user-card:hover{
    box-shadow: none;
}

.user-card *{
    margin: 0;
    padding: 0;
}

.user-card .user-img{
    flex: 1;
    display: flex;
}

.user-card .user-img img{
    border-radius: 50%;
    width: 50%;
    margin: 10px auto;
    display: flex;
}

.user-card .user-info{
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.user-card .user-info h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.user-card .user-info > hr{
    margin: 10px 0;
}

.user-card .user-info > div{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
}

.user-card .user-info > div {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.user-card .btn-container{
    padding-bottom: 10px;
}

.user-card .btn-container .btn{
    display: flex;
}

.user-card .btn-container .btn b{
    display: flex;
    margin: auto;
}

#job-taken{
    padding: 10px;
}

#job-taken .job-card{
    flex-direction: row;
}

#job-taken .job-img{
    padding: 0;
    margin: 0;
    flex: 2;
}

#job-taken .job-info{
    flex: 3;
    margin: 0;
}

#job-taken .job-info h1{
    font-size: 20px;
}

#job-taken img{
    border-radius: 0;
    margin: 0;
    width: 100%;
}

#skillset-window{
    display: none;
}

#skillset-window .modal-content{
    padding: 10px;
}

#skillset{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 60%;
    align-content: flex-start;
}

.skillset-window{
    border-radius: 5px;
    margin: 20px 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.skillset-window .row{
    margin: 10px 0;
    height: 80%;
}

.skillset-window .btn-container{
    display: flex;
    height: 10%;
}

.skillset-window .btn-container .btn{
    display: flex;
    margin: auto;
    width: 50%;
}

.skillset-window .btn-container .btn p {
    display: flex;
    margin: auto;
}

.skillset-window form{
    margin: 0;
}

#choosen-skillset{
    display: flex;
    flex-wrap: wrap;
    height: 13%;
}

.skillset-card{
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
    height: 25px;
    display: flex;
}

.skillset-card:hover{
    opacity: 0.8;
    cursor: pointer;
}

.skillset-card.grey:hover{
    opacity: 1;
    cursor: default;
}

.skillset-card > div{
    padding: 0 2px;
    font-size: 16px;
    margin-top: -3px;
}

.skillset-card > div:hover{
    cursor: pointer;
    font-weight: bolder;
}

#register-page{
    display: flex;
}

#register-page .guildhub-logo{
    display: flex;
    margin: auto;
    flex-direction: column;
}

#register-page .guildhub-logo figcaption{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#register-page > div{
    flex: 1;
    display: flex;
    padding: 40px 5px;
}

#register-page #register{
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 40px;
    flex-direction: column;
}

#register-page #register .ktp{
    padding: 20px 0;
}

#register-page #register h2{
    margin-bottom: 50px;
}

#register-page #register .btn{
    margin: 20px 0;
}

#register-page #register .material-icons-container{
    display: flex;
}

#register-page #register .material-icons{
    display: flex;
    margin: auto;
}

#register-page #register .material-icons:hover{
    opacity: 0.8;
    cursor: pointer;
}

#register-page input{
    color: white;
}

#register-page #register > div{
    display: flex;
    flex-direction: column;
}

#register-page #register > div > div{
    flex: 1;
    margin-right: 10px;
}

#register-page #register > div input{
    margin-right: 20px;
}

#register-page #register input:disabled{
    color: white;
}

#register-page #register select{
    margin: 10px 0;
    display: flex;
}

#register-page #register .password-container{
    display: flex;
    flex-direction: column;
}

#register-page #register .input-container{
    display: flex;
}

.rank-up{
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.rank-up:hover{
    cursor: pointer;
    box-shadow: none;
}

.rank-up-bar{
    display: flex;
}

.rank-up-bar .materials-icons-container{
    display: flex;
}

.rank-up-bar .material-icons{
    height: 20px;
}

.rank-up-bar .progress{
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    display: flex;
    border : 1px solid black;
}

.rank-up-bar .progress .blue{
    display: flex;
    margin: auto 0;
    height: 100%;
}

.create-job-window{
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.create-job-window form{
    padding: 20px;
}

.create-job-window form .btn-container{
    display: flex;
}

.create-job-window form .btn{
    width: 30%;
}

.create-job-window select{
    display: flex;
}

.profile-card-container{
    display: flex;
    flex-wrap: wrap;
}

.profile-card{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column-reverse;
    margin: 10px auto;
}

.profile-card:hover{
    box-shadow: none;
}

.profile-card p{
    padding: 0;
    width: 100%;
}

.profile-card .info{
    display: flex;
    flex-direction: column;
    width: 100%
}

.profile-card .img-container{
    display: flex;
    width: 100%;
}

.profile-card .img-container img{
    margin: auto;
    display: flex;
    border-radius: 50%;
}

.guildhub-contact{
    display: flex;
    margin: 40px 0;
}

.guildhub-contact .img-container{
    width: 50%;
}

.guildhub-contact .img-container img{
    border-radius: 50%;
    width: 50%;
}

.guildhub-contact .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.guildhub-contact p{
    width: 100%;
    padding: 5px;
}

#faq h1{
    margin-bottom: 40px;
}

.faq-container{
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.faq{
    font-size: 20px;
    display: block;
    padding: 0;
    width: 100%;
}

.faq:hover{
    cursor: pointer;
    color: #ffd600;;
}

.faq-content{
    display: block;
    padding: 0;
    font-size: 18px;
    width: 100%;
    padding: 0 20px;
}


/*Medium Screen*/
@media screen and (min-width: 601px){
    #register-page > div{
        padding: 40px;
    }
    .user-card{
        width: 30%;
    }
    .modal-content{
        margin:70px auto;
        width: 50%;
    }

    .nav-wrapper ul{
        flex-direction: row;
    }

    .guild-profile > div > div, .information > div > div{
        flex-direction: row;
    }

    #guild-list{
        flex-direction: row;
    }

    .platform-logo-container{
        padding: 40px;
    }

    .profile-card-container{
        flex-direction: row;
    }

    .profile-card{
        width: 45%;
    }

    .guild-card{
        width: 30%
    }

    .guildhub-contact{
        flex-direction: row;
    }

    .guildhub-contact .contact{
        width: 50%;
    }
}

/*Large Screen*/
@media screen and (min-width: 993px){
    .platform-logo{
        width: 50%;
    }

    .user-card{
        width: 45%;
    }
    
    .modal-content{
        width: 30%;
    }

    .brief-guildhub-information .brief-explanation{
        text-align: left
    }

    .brief-guildhub-information .brief-features{
        display: flex;
    }
    
    .brief-guildhub-information{
        padding: 40px 5%;
    }

    .brief-guildhub-information .btn{
        width: 70%
    }

    header .nav-wrapper {
        width: 50%;
        margin: 0 auto;
    }

    header .nav-wrapper.homepage{
        width: 90%;
    }

    .information > div > div{
        flex-direction: column;
    }

    main article{
        padding: 20px 5%;
    }

    main article > div div{
        width: 50%;
    }

    main article p{
        padding: 20px;
        width: 50%;
    }

    main article > div{
        flex-direction: row;
    }

    #register-page{
        flex-direction: row;
    }

    #register-page #register > div{
        flex-direction: row;
    }

    .profile-card{
        width: 30%;
    }

    .guild-card{
        width: 25%
    }
}